#root {
    /* height: 100%;
    width: 100%; */
    /* overflow:scroll; */
    /* height: 300vh; */
    /* overflow: hidden;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;  */
}
/* #root::-webkit-scrollbar {
    width: 20;
    height: 20;
} */
