@import "tailwindcss";

@font-face {
  font-family: "Heming";
  src: url("./assets/fonts/heming.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-family-sans: "Heming", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-*: initial;
  --color-white: #fff;
  --color-orange: #ff8c5b;
  --color-black: #0d0d0d;
  --color-purple: #9683aa;
  --color-blue: #2592c1;
  --ease-spring-snappy: linear(
    0,
    0.2375,
    0.5904,
    0.8358,
    0.9599,
    1.0061,
    1.0152,
    1.0116,
    1.0062,
    1.0025,
    1.0006,
    0.9999,
    1
  );
  --ease-spring: linear(
    0,
    0.0942,
    0.2989,
    0.5275,
    0.73,
    0.8839,
    0.9858,
    1.0425,
    1.0655,
    1.0666,
    1.0558,
    1.0405,
    1.0255,
    1.0131,
    1.0043,
    0.9989,
    0.9962,
    1
  );
  --ease-spring-soft: linear(
    0,
    0.0332,
    0.1241,
    0.2583,
    0.4207,
    0.5967,
    0.7729,
    0.9379,
    1.0826,
    1.2006,
    1.2883,
    1.3445,
    1.3701,
    1.3679,
    1.3423,
    1.2983,
    1.2415,
    1.1774,
    1.1113,
    1.0477,
    0.9904,
    0.9421,
    0.9047,
    0.8789,
    0.8648,
    0.8615,
    0.8677,
    0.8815,
    0.9009,
    0.9239,
    0.9485,
    0.9727,
    0.9952,
    1.0146,
    1.0303,
    1.0417,
    1.0487,
    1.0515,
    1.0506,
    1.0465,
    1.0401,
    1.032,
    1.023,
    1.0138,
    1.0051,
    0.9974,
    0.9909,
    0.986,
    0.9828,
    0.9811,
    0.9809,
    0.9819,
    0.984,
    0.9868,
    0.99,
    0.9935,
    0.9968,
    0.9998,
    1.0025,
    1.0045,
    1.006,
    1.0069,
    1.0072,
    1.0069,
    1.0063,
    1.0054,
    1.0042,
    1.003,
    1.0017,
    1.0005,
    0.9995,
    0.9986,
    0.998,
    0.9976,
    1
  );
}

@layer base {
  html,
  body {
    font-family: var(--font-family-sans);
  }
}
