html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}


* {
  margin: 0;
  padding: 0;
}


body {
  --text-color: #333;
  --bkg-color: #fff;
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

body {
  font-family: 'Rubik', 'Inter', sans-serif;
  color: var(--text-color);
  background: var(--bkg-color);
  height: 1300vh !important;
  /* cursor: none; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;